*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --size: 40;
  --unit: calc((var(--size) / 195) * 1vmin);
}
.layout {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 139, 0.233);
  padding: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.header-section {
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  background-color: rgba(128, 255, 0, 0.377);
  align-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}
.header-title {
  text-align: center;
  height: 100%;
  width: auto;
  border: 1px solid red;
  background-color: rgba(220, 20, 60, 0.466);
  display: inline-block;
}
img {
  float: left;
  height: calc(288 * var(--unit));
  width: calc(306 * var(--unit));
}
.name {
  height: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 3px solid green;
  background-color: rgba(255, 68, 0, 0.418);
}
.name-1 {
  font-size: 100px;
}
.name-2 {
  font-size: 85px;
}
