*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --size: 25;
  --unit: calc((var(--size) / 195) * 1vmin);
}
body {
  font-family: "Roboto", sans-serif;
  color: rgb(36, 35, 35);
}
.layout {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 139, 0.233);
  padding: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header-section {
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  background-color: rgba(128, 255, 0, 0.377);
  align-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 20vh;
}

@media only screen and (max-width: 767px) {
  .header-section {
    margin-top: 10vh;
  }
  .name {
    font-size: calc(50 * var(--unit)) !important;
  }
}

.header-title {
  text-align: center;
  height: 100%;
  width: auto;
  border: 1px solid red;
  background-color: rgba(220, 20, 60, 0.466);

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
img {
  float: left;
  height: calc(288 * var(--unit));
  width: calc(306 * var(--unit));
}
.name {
  height: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 3px solid green;
  background-color: rgba(255, 68, 0, 0.418);
  font-size: calc(70 * var(--unit));
  line-height: calc(1.7em + 0.5vw);
  margin-left: 4px;
}

h2 {
  padding: 5vh 20vw;
  font-size: calc(30 * var(--unit));
  font-weight: 300;
}

.name-1 {
  background-color: rgba(153, 50, 204, 0.493);
  transform: perspective(10px) rotateY(0.3deg);
  margin-left: 8px;
  padding: 4px;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;

  margin-top: 40vh;
}
li {
  padding: 15px 10px;
}
a {
  text-decoration: none;
}
ion-icon {
  font-size: 50px;
}

.sidebar-lists {
  background-color: chartreuse;
  padding: 40px 0;
  clip-path: polygon(100% 16%, 100% 85%, 0 100%, 0 0);
}
.nav-link :link,
.nav-link :visited {
  padding-top: 20px;
  transition: all 0.3s;
}
.nav-link :hover,
.nav-link :active {
  color: orangered;
  padding-left: 10px;
}
