@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --size: 25;
  --unit: calc((var(--size) / 195) * 1vmin);
}

@media only screen and (max-width: 2261px) {
}
.boops {
  display: block;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.container {
  width: 300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#p1 {
  background-color: #f7e5b5;
}
#p2 {
  background-color: #f7e5b5;
}
#p3 {
  background-color: yellowgreen;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 19vmin;
  transform: translateX(-50.3%) translateY(-52%);
  cursor: pointer;
}
h2 {
  font-weight: 300;
  position: absolute;
  top: 63%;
  left: 50%;
  text-align: center;
  font-size: 10vmin;
  transform: translateX(-50.3%) translateY(-52%);
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
  background: #f7e5b5;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7e5b5;
  border-radius: 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 0 10%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*      ---------     page2   --------     */
#name-1 {
  padding: 0 10%;
  padding-bottom: 5%;
  font-weight: 800;
  font-size: calc(60 * var(--unit));
}
#name-2 {
  padding: 0 10%;
  font-weight: 300;
  font-size: calc(30 * var(--unit));
  letter-spacing: 0.3px;
}
#name-3 {
  padding-left: 10%;
  padding-bottom: 1%;
  font-weight: 700;
  font-size: calc(30 * var(--unit));
  letter-spacing: 0.3px;
}
#name-4 {
  font-weight: 500;
  padding: 1% 0;
  font-size: calc(25 * var(--unit));
  letter-spacing: 0.1px;
}
#name-5 {
  padding-left: 5%;
  padding-bottom: 1%;
  font-weight: 300;
  font-size: calc(18 * var(--unit));
  letter-spacing: 0.1px;
}
#name-6 {
  padding-left: 5%;
  font-weight: 300;
  color: rgb(92, 92, 92);
  font-style: italic;
  font-size: calc(15 * var(--unit));
  letter-spacing: 0.1px;
}
#link {
  color: black;
  font-size: calc(18 * var(--unit));
}
.space-1 {
  width: auto;
  height: 10%;
}
.space-2 {
  width: auto;
  height: 3%;
}
a {
  color: black;
  font-size: calc(35 * var(--unit));
}
a:hover {
  color: rgb(8, 79, 172);
}
#nav {
  position: absolute;
  bottom: 10%;
  right: 10%;
}
