@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  color: #000;
  background: #fff;
  transition: all 0.2s ease, background 0.5s ease;
}
:root {
  --size: 25;
  --unit: calc((var(--size) / 195) * 1vmin);
}
::selection {
  background: #ffcc00;
}

.title {
  width: 80vw;
  text-align: center;
  padding: 1vw;
  margin: 13vw auto;
  margin-bottom: 15vw;
}
h1 {
  font-size: 19vmin;
}
h2 {
  font-weight: 300;
  font-size: calc(50 * var(--unit));
  letter-spacing: -1px;
}
.title-p {
  font-size: calc(20 * var(--unit));
}
.space {
  width: 1vw;
  height: 1vw;
}

.s {
  text-align: center;
}
.switch {
  position: absolute;
  right: 2vw;
  top: 2vw;
  border-radius: 100px;
  width: 3vw;
  height: 2vw;
  background: linear-gradient(120deg, #fff 50%, #000 50%);
  border: 5px solid #000;
  transition: all 0.5s;
  cursor: pointer;
}
.dark-theme {
  color: #fff;
  background-color: #000;
}
.dark-theme .switch {
  background: linear-gradient(120deg, #000 50%, #fff 50%);
  border: 4px solid #fff;
}
.dark-theme .demo {
  border: 5px solid #fff;
}
.dark-theme .butt {
  color: #fff;
}
.dark-theme .butt:active {
  color: #000;
}
.dark-theme .social > a {
  color: #fff;
}
.dark-theme #link {
  color: #fff;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .switch {
    width: 8vw;
    height: 6vw;
  }
  .demo {
    width: 40vw !important;
    height: 45vw !important;
  }
  .butt {
    width: 6vw !important;
    height: 5.5vw !important;
  }
  #link-resource {
    font-size: calc(15 * var(--unit)) !important;
  }
}
@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  .switch {
    width: 7vw;
    height: 5vw;
  }
  .demo {
    width: 40vw !important;
    height: 45vw !important;
  }
  .butt {
    width: 4vw;
    height: 2.5vw;
  }
}
.demo {
  margin: 1vw auto;
  width: 25vw;
  height: 30vw;
  border: 5px solid #000;
  padding: 0.5vw;
  display: inline-block;
}
.show-case {
  align-items: center;
  text-align: center;
  padding: 0 auto;
  margin-bottom: 5vw;
}
.showcase-text {
  font-weight: 700;
  font-size: calc(50 * var(--unit));
  letter-spacing: -1px;
  margin-bottom: 3vw;
}

.demo-link {
  background-color: #ffcc00;
  object-fit: cover;
}
.pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.butt {
  width: 4vw;
  height: 2vw;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.butt:active {
  color: #fff;
}
/**/
#link-resource {
  font-size: calc(20 * var(--unit));
}
#link {
  color: #000;
}
#link:hover {
  color: #000;
  background-color: #ffcc00;
}
.social {
  margin: 10vw auto;
}
.social > a {
  font-size: calc(35 * var(--unit));
  color: #000;
}
.social > a:hover {
  color: #ffbb00;
}
