@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.boops {
  display: block;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.container {
  width: 300%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  overflow: hidden;
}

.panel {
  width: 100%;
  height: 100%;

  overflow: hidden;
}

#p1 {
  background-color: #f7e5b5;
}
#p2 {
  background-color: palevioletred;
}
#p3 {
  background-color: yellowgreen;
}
#p4 {
  background-color: brown;
}
#p5 {
  background-color: blue;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 19vmin;
  transform: translateX(-50.3%) translateY(-52%);
  cursor: pointer;
}
h2 {
  font-weight: 300;
  position: absolute;
  top: 63%;
  left: 50%;
  text-align: center;
  font-size: 10vmin;
  transform: translateX(-50.3%) translateY(-52%);
  cursor: pointer;
}
